<!DOCTYPE html>
<html>
    <head>
        <title>{% block page_title %}Games To Watch{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/our-games.css"/>
    </head>
    <body>
        <div class="container">
            <div class="header">
                {% block header %}
                <h1>{% block header_title %}Games To Watch{% endblock %}</h1>
                <hr/>
                {% endblock %}
            </div>
            <div class="nav"></div>
            <div class="messages">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="content">
                {% block content %}
                {{ content |safe }}
                {% endblock %}
            </div>
            <div class="footer">
                {% block footer %}
                <hr/>
                <div class="row">
                    <div class="col-sm-12">
                        <p>Alpha in development</p>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
        <script type="text/javascript" src="/static/lib/jquery/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">
        $(function(){
            $("#searchState").change(function(){    // change county list based on state
                $(".searchCounties").hide().attr("disabled",true);
                $("#search"+$(this).val().replace(" ","")+"Counties").show().attr("disabled",false);
                $("#searchGetPicks").show();
            });
            $("#searchState").change(); // fire once to show right list on load
        });
        </script>
    </body>
</html>

