{% extends "base.html" %}
{% block content %}

{% include '_search.html' %}

Here are the games to watch in {{state}}/{{county}}:

<ul>
	{% for game in games %}
		<li>{{game['team1']}} vs. {{game['team2']}}: {{game['score']}}</li>
	{% endfor %}
</ul>

{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
$(function(){
{% for country in countries %}
	$('#wc-flag-{{country}} img').removeClass('wc-grayscale');
	$('#wc-flag-{{country}} img').removeClass('wc-faded');
{% endfor %}
});
</script>
{% endblock %}
