
<div class="oc-top-game-wrapper">
	<h2>You Need to Watch this Game</h2>
	{% if intro %}
	<p>{{intro}}</p>
	{% endif %}
	<div class="oc-game-list">
		{% for game in games[:1] %}
			{% include "_one-game.html" %}
		{% endfor %}
	</div>
</div>

<h2>You Should Watch These Too</h2>
<div class="oc-game-list">
	{% for game in games[1:] %}
		{% include "_one-game.html" %}
	{% endfor %}
</div>

{% if permalink %}
<h2>Share This</h2>
<p>
	<a href="{{permalink}}">{{permalink}}</a>
	<a href="https://www.facebook.com/sharer/sharer.php?u={{permalink}}"><img src="/static/images/FB-f-Logo__blue_29.png" /></a>
	<a href="https://twitter.com/home?status=Live near me? Here's the top World cup game we should watch based on where our neighbors are from - {{permalink}}"><img src="/static/images/Twitter_logo_white.png"></a>
</p>
{% endif %}

<h2>Check Another Place</h2>
{% include '_zip-code-form.html' %}

{% if scroll_to_results==True %}
	<script>
	$('html, body').animate({
	    scrollTop: $("#oc-data-wrapper").offset().top
	}, 200);
	</script>
{% endif %}