<div class="oc-game">
	<div class="row oc-game-details">
		<div class="col-xs-10 col-xs-offset-1">
		<b>{{game['date'].strftime('%a, %b %d')}}</b>
		{% if game['previewURL'] %}
			- <a href="{{game['previewURL']}}">preview</a>
		{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-1">
			<span class="oc-flag">{{ game['team1Country'].emoji }}</span>
			{{game['team1Country'].name}}
		</div>
		<div class="col-xs-2">
			<h2>vs.</h2>
		</div>
		<div class="col-xs-4">
            <span class="oc-flag">{{ game['team2Country'].emoji }}</span>
			{{game['team2Country'].name}}
		</div>
	</div>
</div>