<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Which 2014 world cup games to watch, based on where people in your community are from">
    <meta name="keywords" content="world cup, census, data, soccer">
    <meta name="author" content="Rahul Bhargava, MIT Center for Civic Media">

    <title>{% block page_title %}Our Cup - Men's World Cup 2018{% endblock %}</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Chewy|Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/ourcup.css" type="text/css" charset="utf-8" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/icons/apple-touch-icon-144-precomposed.png">
    <link rel="Shortcut Icon" href="/static/icons/favicon.ico" type="image/x-icon">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/static/scripts/ourcup.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6925212-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-6925212-6');
    </script>

  </head>

  <body>

    <div class="container">
      
      <div class="row oc-header">
        <h1>Our Cup - Men's World Cup 2018</h1>
      </div>

      <div class="row oc-content">
        {% block content %}
        {{ content |safe }}
        {% endblock %}
      </div>

      <div class="row oc-footer">
        <div class="col-md-12">
          <p>Based on data from the <a href="http://factfinder2.census.gov/">American Community Survey</a>,
              the <a href="http://www.census.gov">U.S Census</a>,
              and <a href="https://github.com/openfootball/world-cup.json">the Open Football Project</a>.</p>
          <p>A project of <a href="http://rahulbotics.com">Rahul Bhargava</a> at the <a href="http://civic.mit.edu/">MIT Center for Civic Media</a></p>
          <p>Source code on <a href="https://github.com/mitmedialab/our-cup">GitHub</a>.</p>
          <p>
            <a href="https://twitter.com/intent/tweet?screen_name=rahulbot" class="twitter-mention-button" data-size="large" data-dnt="true">Tweet to @rahulbot</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </p>
        </div>
      </div>

    </div>

  </body>

  <script>
  $(function(){
    OurCup.initialize();
  });
  </script>
  <script>
  {% block page_scripts %}{% endblock %}
  </script>

</html>
