body {
  background-color: #3a344e;
  font-family: 'Open Sans', sans-serif;
  padding-top: 30px;
  font-size: 18px;
}

h1 {
  font-size: 4em;
  font-family: 'Covered By Your Grace', cursive;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-family: 'Covered By Your Grace', cursive;
  color: #3a344e;
  margin-bottom: 20px;
  font-weight: 300;
}

label {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 1.2em;
}

button {
}

.oc-header {
  text-align: center;
}

.oc-content {
  background-color: #92b9e1;
  padding: 30px;
}

.oc-content a:link,
.oc-content a:visited,
.oc-content a:hover,
.oc-content a:active {
  color: #3a344e;
}

.oc-footer {
  text-align: center;
  font-size: 0.9em;
  color: #FFFFFF;
  margin-top: 30px;
}

.oc-game-list div {
  text-align: center;
  vertical-align: center;
  font-size: 14px;
}

.oc-game {
  padding-top: 1em;
  padding-bottom: 1em;
}

.oc-game-details {
  margin-bottom: 0.5em;
}

.oc-top-game-wrapper {

}

.oc-footer a:link,
.oc-footer a:visited,
.oc-footer a:hover,
.oc-footer a:active {
  color: #92b9e1;
}

#oc-loading {
  text-align: center;
}

.oc-flag {
  font-size: 120px;
  display: block;
  margin-top: -30px;
  margin-bottom: -30px;
}

.alert {
  margin-top: 30px;
}