body {
  background-color: #3E4095;
  font-family: '2dumbregular', serif;
}

h1 {
  font-size: 4em;
  font-family: '3dumbregular', Arial, sans-serif;
  color: #FFCC29;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  font-family: '3dumbregular', Arial, sans-serif;
  color: #3E4095;
  margin-bottom: 20px;
  font-weight: 700;
}

label {
  font-family: '3dumbregular', Arial, sans-serif;
  font-size: 1.2em;
}

.oc-header {
  background-color: #3E4095;
  text-align: center;
}

.oc-content {
  background-color: #FFCC29;
  padding: 1em;
}

.oc-footer {
  background-color: #3E4095;
  text-align: center;
  font-size: 0.9em;
  color: #FFFFFF;
  margin-top: 1em;
}

.oc-game-list div {
  text-align: center;
  vertical-align: center;
}

.oc-game {
  padding-top: 1em;
  padding-bottom: 1em;
}

.oc-top-game-wrapper {

}

.oc-footer a:link,
.oc-footer a:visited,
.oc-footer a:hover,
.oc-footer a:active {
  color: #FFCC29;
}

#oc-loading {
  text-align: center;
}